---
layout: default
---

<div class="category">

  <h1 class="page-heading">Posts from the {{page.category_name}} category</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.categories[page.category_name] %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  {% capture feed_file %}/feed.{{ page.category_name }}.xml{%endcapture%}
  <p class="rss-subscribe">subscribe <a href="{{ feed_file | relative_url }}">via RSS</a></p>

</div>
